# txt 파일 읽어 들이기

In [2]:
import pandas as pd

In [16]:
# 20Table
df_20TABLE = pd.read_csv("C:/Sources/StudyConda/files_org/SAMPLE_DB_20TABLE_2013.txt", sep=",")
df_20TABLE.head(1)

df_30TABLE = pd.read_csv("C:/Sources/StudyConda/files_org/SAMPLE_DB_30TABLE_2013.txt", sep=",")
df_30Table.head(1)

df_40TABLE = pd.read_csv("C:/Sources/StudyConda/files_org/SAMPLE_DB_40TABLE_2013.txt", sep=",")
df_40Table.head(1)

df_53TABLE = pd.read_csv("C:/Sources/StudyConda/files_org/SAMPLE_DB_53TABLE_2013.txt", sep=",")
df_53TABLE.head(1)

,key,LN_NO,PRSCP_GRANT_NO,DIV_TY_CD,UNPRC,FQ1_MDCT_QTY,DY1_MDCT_QTY,TOT_INJC_DDCNT_EXEC_FQ,TOT_USE_QTY_OR_EXEC_FQ,AMT,GNL_NM_CD
0,1,4,2013010801012,3,80,1.0,3.0,3,9.0,720,294300ACS

# 메타정의서 컬럼명 가지고 오기

In [17]:
df_20TABLE_col = pd.read_excel("C:/Sources/StudyConda/files_org/표본자료 변수 테이블(2012-2013).xlsx",
                               sheet_name = "20table_명세서일반내역",
                               usecols = "A, D")
df_20TABLE_col.head(1)

   변수명   표준한글컬럼명
0  key  명세서 연결코드

In [18]:
# df_30TABLE_col, df_30TABLE_col, df_53TABLE_col 모두 가지고 오기..

In [19]:
df_30TABLE_col = pd.read_excel("C:/Sources/StudyConda/files_org/표본자료 변수 테이블(2012-2013).xlsx", 
                               sheet_name = "30table_진료내역",
                               usecols = "A, D")
df_30TABLE_col.head(1)

   변수명   표준한글컬럼명
0  key  명세서 연결코드

In [20]:
df_40TABLE_col = pd.read_excel("C:/Sources/StudyConda/files_org/표본자료 변수 테이블(2012-2013).xlsx", 
                               sheet_name = "40table_상병",
                               usecols = "A, D")
df_40TABLE_col.head(1)

   변수명   표준한글컬럼명
0  key  명세서 연결코드

In [21]:
df_53TABLE_col = pd.read_excel("C:/Sources/StudyConda/files_org/표본자료 변수 테이블(2012-2013).xlsx", 
                               sheet_name = "53table_처방전상세내역",
                               usecols = "A, D")
df_53TABLE_col.head(1)

   변수명   표준한글컬럼명
0  key  명세서 연결코드

In [22]:
df_20TABLE.head(1)

,key,no,DMD_FRM_CD,DMD_TP_CD,FOM_CD,AGG,SelectionProb,SamplingWeight,PAT_AGE,SEX_TP_CD,...,VST_DDCNT,RVD_RPE_TAMT_AMT,RVD_SLF_BRDN_AMT,RVD_INSUP_BRDN_AMT,SOPR_YN,PRCL_SYM_TP_CD,MAIDCL_CD,RADT_DIAG_YN,RADT_TRET_YN,yno
0,1,169,3,0,3,13,0.030001,33.332599,62.0,1,...,1,9430,2800,6630,0,$,$,$,$,30796

In [23]:
#df_20TABLE.rename(columns = 딕셔너리_데이터)

In [24]:
temp_dict = {}
temp_dict["key1"] = "value1"
temp_dict["key2"] = "value2"
temp_dict["key3"] = "value3"
print(temp_dict)

temp_dict["key2"]

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

'value2'

In [25]:
df_20TABLE_col_list = df_20TABLE_col.to_dict("records")
# {'변수명': 'key', '표준한글컬럼명': '명세서 연결코드'}

new_dict_20 = {}
# {key' :'명세서 연결코드'}

for dict_kv in df_20TABLE_col_list :
    new_dict_20[dict_kv["변수명"]] = dict_kv["표준한글컬럼명"]
    
# new_dict_20
df_20TABLE_kor = df_20TABLE.rename(columns = new_dict_20)
df_20TABLE_kor.head(1)

,명세서 연결코드,수진자고유번호,청구형태코드,청구구분코드,서식코드,연령군,추출확률,샘플가중치,수진자연령,성별구분코드,...,내원일수,심결요양급여비용총액,심결본인부담금,심결보험자부담금,수술여부,특정기호구분코드,의료급여종별코드,방사선진단여부,방사선치료여부,요양기관 고유번호
0,1,169,3,0,3,13,0.030001,33.332599,62.0,1,...,1,9430,2800,6630,0,$,$,$,$,30796

In [30]:
test1 = df_20TABLE_col.to_dict("records")
test2 = (list(m['변수명'] for m in test1))
test3 = (list(m['표준한글컬럼명'] for m in test1))
test4 = dict(zip(test2, test3))
test4

{'key': '명세서 연결코드',
 'DMD_TP_CD': '청구구분코드',
 'DMD_FRM_CD': '청구형태코드',
 'FOM_CD': '서식코드',
 'no': '수진자고유번호',
 'AGG': '연령군',
 'SelectionProb': '추출확률',
 'SamplingWeight': '샘플가중치',
 'PAT_AGE': '수진자연령',
 'SEX_TP_CD': '성별구분코드',
 'INSUP_TP_CD': '보험자코드',
 'MSICK_CD': '주상병코드',
 'SSICK_CD': '부상병코드',
 'RECU_FR_DD': '요양개시일자',
 'RECU_TO_DD': '요양만료일자',
 'DGRSLT_TP_CD': '진료결과구분코드',
 'DGSBJT_CD': '진료과목코드',
 'DMD_DRG_NO': '청구DRG번호',
 'FST_IPAT_DD': '최초입원일자',
 'IPAT_ARIV_PTH_TP_CD': '입원도착경로구분코드',
 'OINJ_TP_CD': '공상구분코드',
 'RECU_DDCNT': '요양일수',
 'VST_DDCNT': '내원일수',
 'RVD_RPE_TAMT_AMT': '심결요양급여비용총액',
 'RVD_SLF_BRDN_AMT': '심결본인부담금',
 'RVD_INSUP_BRDN_AMT': '심결보험자부담금',
 'SOPR_YN': '수술여부',
 'PRCL_SYM_TP_CD': '특정기호구분코드',
 'MAIDCL_CD': '의료급여종별코드',
 'RADT_DIAG_YN': '방사선진단여부',
 'RADT_TRET_YN': '방사선치료여부',
 'yno': '요양기관 고유번호'}

In [26]:
df_30TABLE_col_list = df_30TABLE_col.to_dict("records")
# {'변수명': 'key', '표준한글컬럼명': '명세서 연결코드'}

new_dict_30 = {}
# {key' :'명세서 연결코드'}

for dict_kv in df_30TABLE_col_list :
    new_dict_30[dict_kv["변수명"]] = dict_kv["표준한글컬럼명"]
    
# new_dict_20
df_30TABLE_kor = df_30TABLE.rename(columns = new_dict_30)
df_30TABLE_kor.head(1)

,명세서 연결코드,항코드,목코드,분류유형코드,분류코드,1_2구분코드,단가,1회투약량,1일투약량,1일투여량실시횟수,총투여일수또는실시횟수,총사용량또는실시횟수,금액,가산적용금액,줄번호,일반명코드
0,1,01,2,1,AA254,1,9430,1.0,1.0,1.0,1,1.0,9430,9430,1,$

In [27]:
df_40TABLE_col_list = df_40TABLE_col.to_dict("records")
# {'변수명': 'key', '표준한글컬럼명': '명세서 연결코드'}

new_dict_40 = {}
# {key' :'명세서 연결코드'}

for dict_kv in df_40TABLE_col_list :
    new_dict_40[dict_kv["변수명"]] = dict_kv["표준한글컬럼명"]
    
# new_dict_20
df_40TABLE_kor = df_40TABLE.rename(columns = new_dict_40)
df_40TABLE_kor.head(1)

   명세서 연결코드  상병일련번호 상병진료과목코드 청구상병기호  청구진료과목코드
0         1       3       01   K599         1

In [28]:
df_53TABLE_col_list = df_53TABLE_col.to_dict("records")
# {'변수명': 'key', '표준한글컬럼명': '명세서 연결코드'}

new_dict_53 = {}
# {key' :'명세서 연결코드'}

for dict_kv in df_53TABLE_col_list :
    new_dict_53[dict_kv["변수명"]] = dict_kv["표준한글컬럼명"]
    
# new_dict_20
df_53TABLE_kor = df_53TABLE.rename(columns = new_dict_53)
df_53TABLE_kor.head(1)

,명세서 연결코드,줄번호,처방전교부번호,분류유형코드,단가,1회투약량,1일투약량,총투여일수또는실시횟수,총사용량또는실시횟수,금액,일반명코드
0,1,4,2013010801012,3,80,1.0,3.0,3,9.0,720,294300ACS

In [29]:
df_20TABLE_kor.to_excel("C:/Sources/StudyConda/files_org/df_20TABLE_kor_명세서일반내역.xlsx", index = False)
df_30TABLE_kor.to_excel("C:/Sources/StudyConda/files_org/df_30TABLE_kor_진료내역.xlsx", index = False)
df_40TABLE_kor.to_excel("C:/Sources/StudyConda/files_org/df_40TABLE_kor_상병.xlsx", index = False)
df_53TABLE_kor.to_excel("C:/Sources/StudyConda/files_org/df_53TABLE_kor_처방전상세내역.xlsx", index = False)

In [32]:
df_53TABLE_kor

,명세서 연결코드,줄번호,처방전교부번호,분류유형코드,단가,1회투약량,1일투약량,총투여일수또는실시횟수,총사용량또는실시횟수,금액,일반명코드
0,1,4,2013010801012,3,80,1.0,3.0,3,9.0,720,294300ACS
1,1,1,2013010801012,3,144,1.0,3.0,3,9.0,1296,185201ATB
2,1,5,2013010801012,3,119,1.0,3.0,3,9.0,1071,183501ATB
3,1,2,2013010801012,3,87,2.0,3.0,3,18.0,1566,203801ATB
4,1,3,2013010801012,3,103,1.0,3.0,3,9.0,927,222901ATB
...,...,...,...,...,...,...,...,...,...,...,...
14482,5629,6,2013011200057,3,29,5.0,3.0,2,30.0,870,142304ASY
14483,5630,3,2013040100095,3,70,1.0,3.0,7,21.0,1470,438901ATB
14484,5630,4,2013040100095,3,208,1.0,3.0,7,21.0,4368,621701ATB
14485,5630,2,2013040100095,3,46,1.0,3.0,7,21.0,966,192001ATB
14486,5630,1,2013040100095,3,125,1.0,3.0,7,21.0,2625,186101ATB

In [36]:
lists = [20,30,40,53]
for i in lists:
# 부르기
df_TABLE = pd.read_csv("C:/Sources/StudyConda/files_org/SAMPLE_DB_20TABLE_2013.txt", sep=",")

# 컬럼 가져오기
df_20TABLE_col = pd.read_excel("C:/Sources/StudyConda/files_org/표본자료 변수 테이블(2012-2013).xlsx",
                               sheet_name = "20table_명세서일반내역",
                               usecols = "A, D")

# 작업
df_20TABLE_col_list = df_20TABLE_col.to_dict("records")

new_dict_20 = {}

for dict_kv in df_20TABLE_col_list :
    new_dict_20[dict_kv["변수명"]] = dict_kv["표준한글컬럼명"]
    
df_20TABLE_kor = df_20TABLE.rename(columns = new_dict_20)

IndentationError: expected an indented block (Temp/ipykernel_13100/3387151096.py, line 4)

In [34]:
lists

[20, 30, 40, 53]