In [6]:
import numpy as np
import seaborn as sns
import pandas as pd

In [12]:
mpg = pd.read_csv("C:/Users/admin/회귀분석/auto-mpg.csv")
mpg

     18.0  8  307.0  130.0   3504.  12.0  70  1 chevrolet chevelle malibu
0    15.0  8  350.0  165.0  3693.0  11.5  70  1         buick skylark 320
1    18.0  8  318.0  150.0  3436.0  11.0  70  1        plymouth satellite
2    16.0  8  304.0  150.0  3433.0  12.0  70  1             amc rebel sst
3    17.0  8  302.0  140.0  3449.0  10.5  70  1               ford torino
4    15.0  8  429.0  198.0  4341.0  10.0  70  1          ford galaxie 500
..    ... ..    ...    ...     ...   ...  .. ..                       ...
392  27.0  4  140.0  86.00  2790.0  15.6  82  1           ford mustang gl
393  44.0  4   97.0  52.00  2130.0  24.6  82  2                 vw pickup
394  32.0  4  135.0  84.00  2295.0  11.6  82  1             dodge rampage
395  28.0  4  120.0  79.00  2625.0  18.6  82  1               ford ranger
396  31.0  4  119.0  82.00  2720.0  19.4  82  1                chevy s-10

[397 rows x 9 columns]

In [ ]:
#컬럼 설명
# 0 : mpg(연비)
# 1 : cylinders(실린더)
# 2 : displacement (배기량)
# 3 : horsepower (엔진출력)
# 4 : weight (중량)
# 5 : eceleration (가속)
# 6 : model year (연식)
# 7 : origin : 1~3의 값을 가짐
# 8 : name ( 자동차 이름)

In [ ]:
# 컬럼 이름 바꾸기
pd.DataFrame()

In [17]:
mpg.columns = ('mpg','cylinders', 'displacement', 'horsepower', 'weight', 'eceleration', 'model year', 'origin', 'name')
mpg

,mpg,cylinders,displacement,horsepower,weight,eceleration,model year,origin,name
0,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
1,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
2,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
3,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino
4,15.0,8,429.0,198.0,4341.0,10.0,70,1,ford galaxie 500
...,...,...,...,...,...,...,...,...,...
392,27.0,4,140.0,86.00,2790.0,15.6,82,1,ford mustang gl
393,44.0,4,97.0,52.00,2130.0,24.6,82,2,vw pickup
394,32.0,4,135.0,84.00,2295.0,11.6,82,1,dodge rampage
395,28.0,4,120.0,79.00,2625.0,18.6,82,1,ford ranger
396,31.0,4,119.0,82.00,2720.0,19.4,82,1,chevy s-10

In [ ]:
#file_new 폴더생성
#file_new / auto-mpg_v1.csv로 저장하기

In [19]:
mpg.to_csv("./file_new/auto-mpg_v1.csv", index = False)